<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chulili.forgroundservicesample">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".SampleForgroundService"
            android:process=":remote">
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="com.example.chulili.forgroundservice.priority"></action>-->
            <!--</intent-filter>-->
        </service>

        <service android:name=".SampleForgroundThirdService">
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="com.example.chulili.forgroundservice.priority"></action>-->
            <!--</intent-filter>-->
        </service>

        <service android:name=".SampleForegroundSecondService"/>

        <service android:name=".SampleBackgroundSecondService"/>
        <service android:name=".SampleBackgroundServiceafjaispdfjasdeljflkd"/>
        <service android:name=".SampleBackgroundThirdServiceeywqityeoqurpwjcksdhfdsljajdfslfj"/>
        <service android:name=".SampleBackgroundFourService"/>

        <!--<receiver android:name=".ServiceDestroyReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name= "com.example.chulili.forgroundservice.servicedestroy"/>-->
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->
                <!--<action android:name="android.NET.conn.CONNECTIVITY_CHANGE"/>-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED"/>-->
                <!--<action android:name="android.intent.action.MEDIA_UNMOUNTED"/>-->
                <!--<action android:name="android.net.wifi.RSSI_CHANGED"/>-->
                <!--<action android:name="android.Net.wifi.STATE_CHANGE"/>-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity android:name=".SecondActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".BaseActivity"/>

    </application>

</manifest>